.orders-table {
	&__header {
		&:not(:last-child) {
			margin-bottom: 8px;
		}
	}
	&__body {
		min-height: 600px;
		max-width: 100%;
		overflow-x: auto;
		&:not(:last-child) {
			margin-bottom: 8px;
		}
	}
	&__empty {
		font-size: 1rem;
		padding: 8px 4px;
	}
	table {
		table-layout: fixed;
		min-width: 1250px;
		border-collapse: collapse;
		text-align: center;
		@media (max-width: 48em) {
			min-width: 100%;
			text-align: left;
		}
	}
	th {
		background-color: (var(--mainRedColor));
		padding: 10px;
		color: var(--mainWhiteColor);
		font-family: var(--fontFamily);
		vertical-align: baseline;
		@media (max-width: 48em) {
			display: none;
		}
	}
	tr {
		border-top: 1px solid var(--gullGrayColor);
		border-bottom: 1px solid var(--gullGrayColor);
		@media (max-width: 48em) {
			display: grid;
			grid-template-columns: auto;
		}
	}
	td {
		padding: 10px;
		border-left: 1px solid var(--gullGrayColor);
		border-right: 1px solid var(--gullGrayColor);
		@media (max-width: 48em) {
			display: grid;
			grid-template-columns: 200px 1fr;
			column-gap: 10px;
			&::before {
				font-weight: 600;
			}
			&:nth-child(2)::before {
				content: "Країна";
			}
			&:nth-child(3)::before {
				content: "Магазин";
			}
			&:nth-child(4)::before {
				content: "Назва посилки";
			}
			&:nth-child(5)::before {
				content: "Трек-номер";
			}
			&:nth-child(6)::before {
				content: "Назва товару";
			}
			&:nth-child(7)::before {
				content: "Кількість, од.";
			}
			&:nth-child(8)::before {
				content: "Вартість, всього / за 1 од.";
			}
			&:nth-child(9)::before {
				content: "Статус";
			}
			&:nth-child(10)::before {
				content: "Дії користувача";
				margin-bottom: 5px;
			}
			&:nth-child(11)::before {
				content: "Дії адміністратора";
				margin-bottom: 5px;
			}
		}
		@media (max-width: 30em) {
			grid-template-columns: 1fr;
			padding: 5px 10px;
		}
	}
	thead {
		tr {
			border: 1px solid var(--mainRedColor);
		}
	}
	.cell-country {
		display: flex;
		align-items: center;
		gap: 10px;
		min-width: 100px;
		&__icon {
			display: flex;
			align-items: center;
			flex: 0 0 24px;
			height: 24px;
			img {
				max-width: 100%;
			}
		}
		&__name {
			text-align: left;
		}
	}
	.btn-expand {
		width: 30px;
		border: none;
		background-color: transparent;
		color: inherit;
	}
}
