@import "../src/assets/styles/variables.scss";
@import "../src/assets/styles/fonts.scss";

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: var(--fontFamily);
	font-size: 14px;
	font-weight: 400;
}

button {
	font-family: inherit;
}

a {
	text-decoration: none;
	&:focus-visible {
		outline-color: var(--mainFocusColor);
	}
}

.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	clip: rect(0 0 0 0);
	overflow: hidden;
}

.app {
	padding: 80px 0;
	@media (max-width: 48em) {
		padding: 40px 0;
	}
}

.container {
	max-width: 870px;
	margin: 0 auto;
	padding: 0 20px;
}

.wrapper {
	max-width: 1365px;
	margin: 0 auto;
	padding: 0 20px;
}

.title {
	text-align: center;
	font-size: 3.25rem;
	line-height: 130%;
	font-weight: 500;
	font-family: "NovaPoshta", sans-serif;
	color: var(--mainDarkColor);
	@media (max-width: 48em) {
		font-size: 2rem;
	}
}

.link {
	display: inline-block;
	text-decoration: none;
	&:focus-visible {
		outline: 2px solid var(--mainFocusColor);
		border-radius: 24px;
	}
}
