@font-face {
	font-family: "NovaPoshta";
	font-display: swap;
	src: url("../fonts/NovaPoshta-Medium.woff2") format("woff2");
	font-weight: 500;
	font-style: normal;
}
@font-face {
	font-family: "Inter";
	font-display: swap;
	src: url("../fonts/Inter-Regular.woff2") format("woff2");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: "Inter";
	font-display: swap;
	src: url("../fonts/Inter-Medium.woff2") format("woff2");
	font-weight: 500;
	font-style: normal;
}
