:root {
	--fontFamily: "Inter";
	--mainDarkColor: #000000;
	--mainWhiteColor: #ffffff;
	--mainRedColor: #ec1f2b;
	--mainGrayColor: #f6f6f9;
	--mainYellowColor: #fef3bd;
	--gullGrayColor: #94a3b8;
	--mainFocusColor: #1976d2;
}
